PORT=3000
NODE_ENV=development

# Firebase (Service Account en Base64)
FIREBASE_SERVICE_ACCOUNT_BASE64=
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com

# Clave de API web de Firebase (para Login via REST API)
# Firebase Console -> Configuración del proyecto -> General -> Clave de API web
FIREBASE_WEB_API_KEY=
